@font-face {
  font-family: 'NotoSerifJP';
  src: url('@/assets/fonts/NotoSerifJP-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSansJP';
  src: url('@/assets/fonts/NotoSansJP-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KaiseiTokumin';
  src: url('@/assets/fonts/KaiseiTokumin-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}